{% extends 'base.html' %}

{% block content %}
<section class="product-liste">
        <div class="product-detail">
            <h2>{{ product.name }}</h2>
            {% if product.thumbnail %}
                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" class="product-thumbnail">
            {% else %}
                <p>Pas d'image</p>                
            {% endif %}
            <h3>{{ product.price }} €</h3>
            <h4>Il en reste: {{ product.stock }}</h4>
            <div class="product-description">
                <p>{{ product.description }}</p>
            </div>
        </div>
    </section>
{% endblock%}