/* styles.css */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 2rem);
    text-align: center;
    padding: 1rem;
}

.product-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h3 {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
  }

.product-description {

    flex: 0 0 15cm;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 1rem;
    border-left: 1px solid #dddddd;
}